@using MakaleEntities
@using MVC_MakaleWeb.Models
@model List<Yorum>

@{ 
    Kullanici kullanici=SessionUser.Login;
}

@foreach (var item in Model)
{
    <div class="media">
        <div class="media-left media-top">
            <div class="media-object">
                <span class="glyphicon glyphicon-comment"></span>
            </div>

        </div>
        <div class="media-body">
            <div>
                <span class="col-md-10" contenteditable="false" id="yorum_@item.ID"> @*span text boxa dönüşür bunun için tru yapıcaz*@
                    @item.Test
                </span>

                @if (kullanici != null && kullanici.ID == item.Kullanici.ID)
                {
            <span class="col-md-2 text-right">

                <button type="button" class="btn btn-success btn-xs" data-editmod="false" onclick="islemyap(this, 'update',@item.ID,'#yorum_@item.ID');">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
              
                <button type="button" class="btn btn-danger btn-xs"  onclick="islemyap(this, 'delete',@item.ID);">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </span>
                }


                <small class="col-md-12 text-right">
                    <span class="glyphicon glyphicon-user"></span>@item.Kullanici.KullaniciAdi
                    <span class="glyphicon glyphicon-time"></span>@item.DegistirmeTarihi
                </small>

            </div>

        </div>
    </div>
}
@if(kullanici !=null)
{
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <div class="input-group">
            <input type="text" id="yorum_text" class="form-control" placeholder="Yorumunuz...">
            <span class="input-group-btn">
                <button class="btn btn-info" type="button" onclick="islemyap(this,'insert');">Gönder</button>
            </span>
        </div><!-- /input-group -->
    </div>

</div>
}
