@using MakaleBLL
@using MakaleEntities
@using MVC_MakaleWeb.Models
@{ 
    List<Kategori> liste = CasheHelper.KategoriCache();
}
<p class="lead">Kategoriler</p>
<div class="list-group">
    <a href="/Home/Index" class="list-group-item"><span class="glyphicon glyphicon-chevron-right"></span>Tümü</a>
    @foreach (var item in liste)
    {
        <a href="/Home/Kategori/@item.ID" class="list-group-item">@item.Baslik</a>
    }
</div>
